<div id="container">
  <h1>The polls are closed!!!</h1>
  <div class="result">
    <h2 class="result__label">The winner is:</h2>
    <div>
      <span>
        <h1 class="result__winner">@<%= @winner.handle %></h1>
      </span>
    </div>
    <h2 class="result__label">and we're going to:</h2>
    <div>
      <span>
        <h1 class="result__location"><%= @winner.pick %></h1>
      </span>
      <div class="result__location__map">
        <iframe src='//www.google.com/maps/embed/v1/directions?origin=Ontraport&destination=<%= @winner.pick %>+Santa+Barbara&key=AIzaSyANhMuRaDE6Tq2yzc-AQImdX4NuUB4G0HE'>
        </iframe>
      </div>

    </div>
  </div>
  <div class="coming">
    <h3><%= pluralize(@coming.count, "person") %> coming:</h3>
    <ul class="coming__list">
      <% @coming.each do |user| %>
      <li class="coming__list__user">
        <%= user.handle %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
