<div id="container">
  <h1>The polls are open!</h1>
  <div class="signup-form">
    <%= form_for @user do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :handle %>
    <%= f.text_field :handle, class: "signup-form__field" %>

    <%= f.label :pick %>
    <%= f.text_field :pick, class: "signup-form__field" %>

    <div class="signup-form__submit">
      <%= f.submit "+1", class: "signup-form__submit__plusone", name: "plusone" %>
      <%= f.submit "Coming", class: "signup-form__submit__coming", name: "coming" %>
    </div>
    <% end %>
  </div>
  <div class="signed-up">
    <div class="signed-up__plusoned">
      <h3>+1'ed:</h3>
      <ul class="signed-up__plusoned">
        <% @plusoned.each do |user| %>
        <li class="signed-up__plusoned__user">
          <%= user.handle %>, <%= user.pick %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="signed-up__coming">
      <h3>Coming, but not voting:</h3>
      <ul class="signed-up__coming">
        <% @coming.each do |user| %>
        <li class="signed-up__coming__user">
          <%= user.handle %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
